html {
    box-sizing: border-box;
}
*,*::before, *::before {
box-sizing: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
body {
    color: black;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}
.menu__item {
    display: inline-block;
}
.menu__item + .menu__item {
    padding-left: 50px;
}
.header__box {
    display: flex;
}
.header__adress {
    position: relative;
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
}
.header__adress::before {
    position: absolute;
    content: "";
    background-image: url(./img/location.png);
    width: 25px;
    height: 25px;
    left: 0;
}
.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.user-list__item {
    padding-right: 10px;
}
.basket {
    position: relative;
}
.basket__num {
    position: absolute;
    font-family: 'SFProDisplay-Medium', sans-serif;
    line-height: 20px;
    font-weight: 500;
    font-size: 10px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    bottom: -15px;
    right: -15px;
}
.header__botoom {
    margin-bottom: 70px;
}
.menu-categories {
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
}
.menu-categories__item {
    position: relative;
}
.menu-categories__link {
    position: absolute;
    font-weight: 400;
    transition: all .3s;
    padding: 15px 0 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    margin-left: 10px;
}
.menu-categories__link::before {
    position: absolute;
    content: "";
    width: 0;
    left: auto;
    right: 0;
    background-color: rgb(19, 19, 250);
    background-color: blue;
    height: 3px;
    bottom: 0;
    transition: all .3s;
}
.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}
.menu-categories__link:hover {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    /* font-weight: 600; */
    color: rgb(112, 112, 131);
}
